.label {
    font-size: .7rem;
}
input.form-control, input.form-control-focus {
    background: #fafaff;
}
textarea.form-control, textarea.form-control-focus {
    background: #fafaff;
}
.error {
    position: absolute;
    color: red;
    font-size: 0.6rem;
}